annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asttokens
asyncpg==0.31.0
click==8.3.2
comm
debugpy
decorator
executing
fastapi==0.135.3
greenlet==3.3.2
h11==0.16.0
idna==3.11
ipykernel
ipython
ipython_pygments_lexers
jupyter_client
jupyter_core
matplotlib-inline
nest_asyncio
packaging==26.0
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pydantic==2.12.5
pydantic_core==2.41.5
Pygments
python-dateutil
python-dotenv==1.2.2
pyzmq
setuptools==82.0.1
six
SQLAlchemy==2.0.49
stack_data
starlette==1.0.0
tornado
traitlets
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.43.0
wcwidth
wheel==0.46.3
